# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Pythong related code
# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# PyCharm / VS Code / other IDEs
.idea/
.vscode/
*.swp
*.swo
*.swn
*.swm

# Django / Flask / FastAPI stuff
*.log
local_settings.py
db.sqlite3
instance/
.webassets-cache

# Environment variables
.env
.env.*
*.env

# MyPy / Pyre / Pylint
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db
Desktop.ini



